<?xml version="1.0"?>
<!--
/**
 * #@#LICENCE#@#
 */
-->
<config>
    <sections>
        <sales>
            <groups>
                <reviewo_automaticfeedback translate="label" module="reviewo_automaticfeedback">
                    <label>Reviewo Automatic Feedback</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <comment>Controls whether the Reviewo automatic feedback extension runs.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <api_key translate="label">
                            <label>Api key: </label>
                            <comment>Your personal API key. Please keep this a secret</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <frequency translate="label">
                            <label>Update Frequency</label>
                            <comment>Cron frequency for how often you would like the orders to be sent to Reviewo</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frequency>
                        <limit translate="label">
                            <label>Order Limit</label>
                            <comment>Limits the amount of orders to be sent in one go. Only tweak this if you are having difficulty sending the default amount (1000)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </limit>
                    </fields>
                </reviewo_automaticfeedback>
            </groups>
        </sales>
    </sections>
</config>